<app-title title="Control flow example"/>
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="bg-white rounded shadow p-10">
        <h2>
            IF: {{ showContent() }}

        </h2>
        <button class="p-2 bg-blue-500 rounded text-white" (click)="toggleContent()">Click Me!</button>

        @if (showContent()) {
            <p>control-flow works!</p>
        }
    </div>
    <div class="bg-white rounded shadow p-10">
        @switch (grade()) {
            @case ('A') {
                <p>Arriba de 90</p>
            }
            @case ('B') {
                <p>entre 70 y 80</p>

            }
            @default {
                <p>reprobado</p>
                
            }
        }
    </div>

    <div class="bg-white rounded shadow p-10">
        @for (item of frameworks(); track $index) {
            <div class="bg-white rounded shadow p-3">
                {{item}}
            </div>  
        }
    </div>
</section>
